.responsive-columns {
  margin: 0;
  padding: 0;
  list-style: none;
}

.responsive-columns:before,
.responsive-columns:after {
  display: table;
  content: " ";
  clear: both;
}

.responsive-columns > li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
